.thumb-category {
  display: flex;
  .thumb-category {
    display: flex;
  }
  .box {
    padding: 15px;
    width: 370px;
    height: 129px;
    display: flex;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    justify-content: space-around;
    margin-right: 30px;
    margin-bottom: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }

  .box1 {
    margin-bottom: 0px;
    &:last-child {
      margin-right: 0px;
    }
  }

  .category-title {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 50px;
  }
  .category-info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
