.thumb {
  display: flex;
  background: #f0f0f4;
}
.thumb-content {
  display: flex;
  margin-right: 60px;
}
.content {
  padding: 15px 0 13px 0;
  margin-right: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #2f3035;
  &:last-child {
    margin-right: 0px;
  }
}
