.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}

.thumb_sale {
  height: 398px;
  display: flex;
}

// Новый слайдер

.thumbBox {
  width: 840px;
  height: 400px;
}
.StyledBox {
  width: 840px;
  overflow: hidden;
}
.imgSlider {
  position: relative;
  top: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
}
